@model sellhandproduct.Models.AddProductViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Form Örneği</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Add Product</h1>
        <form method="post" action=AddProducts enctype="multipart/form-data" >
            <div class="form-group">
                <label for="productname">Name</label>
                <input type="text" class="form-control" id="name" placeholder="urun adi giriniz" asp-for="ProductName">   
            </div>
            <div class="form-group">
                <label for="price">Price</label> 
                <input type="text" class="form-control" id="price" placeholder="ürün fiyatı girin" asp-for="ProductPrice"> 
            </div>
            <div class="form-group">
                <label for="count">Stock</label>
                <input type="text" class="form-control" id="count" placeholder="ürün adeti girin" asp-for="ProductCount"> 
            </div>

            @*<div class="form-group">
                <label for="sellerid">Seller id</label> 
                <input type="text" class="form-control" id="sellerid" placeholder="" asp-for="SellerId"> 
            </div>*@

            <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="ImageFile"> 
        </div>
            
            <button type="submit" class="btn btn-primary">Gönder</button>  
        </form>
    </div>

    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
